:root {
	--basic-white: #ffffff;
	--basic-grey: #EEEEEE;
	--basic-black: #000000;
	--basic-red: #FB565A;
	--basic-yellow: #EFC849;
	--basic-green: #00CA74;
	--red-hover: #E74246;
	--red-focus: #D7373B;
	--green-hover: #00BC6C;
	--green-focus: #00AA62;
	--yellow-hover: #EAB534;
	--yellow-focus: #E5A722;
	--grey-hover: #B4B9BB;
	--basic-extra-grey: #D7DCDE;
	--grey-social: #E1E1E1;
	--basic-dark-grey: #666666;
	--grey-catalog-hover: #DFDFDF;
	--grey-catalog-focus: #D5D5D5;
	--grey-cat-nav-item: #DBDBDB;
	--black-filter: #283136;
	--dark-grey-hover: #4D4D4D;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"),
	url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto"),
	url("../fonts/robotobold.woff2") format("woff2"),
	url("../fonts/robotobold.woff") format("woff");
}

@font-face {
	font-family: "Roboto"
	font-style: normal;
	font-weight: 500;
	src: local("Roboto"),
	url("../fonts/robotomedium.woff2") format("woff2"),
	url("../fonts/robotomedium.woff") format("woff");
}	

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	min-height: 100%;	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
  height: 100%;
}

.main-header {
	margin-bottom: ;
	background-color: var(--basic-grey);
}

.main-nav {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: var(--basic-grey);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: ;
	display: flex;
	justify-content: space-between;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.container {
	width: 1159.84px;
	margin: 0 auto;
	padding: 0;
}

.site-nav {
	list-style: none;
	width: 640px;
	margin: 0;
	padding: 0;
	padding-left: 202.13px;
}

.cart-nav {
	max-width: 160px;
}

.cart-nav .cart-link {
	padding-left: 50px;
}

.site-nav-current a:not([href]) {
	background-color: var(--basic-grey);
}
.site-nav a,
.cart-nav a {
  	color: var(--basic-black);
}

.site-nav a:hover,
.cart-nav a:hover {
  	color: var(--basic-red);
}

.site-nav a:focus,
.cart-nav a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.features {
	margin-bottom: 121px;	
}

h1, .features {
	background-color: var(--basic-grey);
}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;  
}

.services {
	margin-bottom: 121px;
}

.services-list {
	list-style: none;
	background-color: var(--basic-white);
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	width: 1100px;
}

.service-item {
	width: 300px;
 }

.service-item h3 {
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.company-info h2 {
	font-size: 45px;
  	line-height: 45px;
  	font-weight: 500;
}

.main-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 73px;
}

.company-info {
	width: 651px;
 }

.main-info h2 {
	margin: 0;
	margin-bottom: 32px;
 }

.main-info p {
	margin: 0;
	margin-bottom: 40px;
}

.main-info h3 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
}

.info-list {
	margin-bottom: 23px;
}

.statistics {
  	width: 360px;
  }

.statistics h3 {
	text-align: center;
}

.statistics img {
	width: 360px;
	height: 208px;
}

.statistics-list {
	list-style: none;
}

.statistics-item {
	line-height: 18px;
}

.statistics-percent {
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	text-transform: uppercase;
}

sup {
	font-size: 26px;
	line-height: 40px;
}

.clients-list {
	list-style: none;	
  	display: flex;
  	justify-content: space-between;
  	width: 1159px;
  	margin-bottom: 80px;
}

.button {
	font:  inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	text-transform: uppercase;
	background-color: var(--basic-red);
	border: none;
	border-radius: 3px;
}

.button-yellow {
	background-color: var(--basic-yellow);
}

.button-green {
	background-color: var(--basic-green);
}

.button:hover {
	background-color: var(--red-hover);
}

.button:focus {
	background-color: var(--red-focus);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.button-green:hover {
	background-color: var(--green-hover);
}

.button-green:focus {
	background-color: var(--green-focus);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.button-yellow:hover {
	background-color: var(--yellow-hover);
}

.button-yellow:focus {
	background-color: var(--yellow-focus);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.contacts h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.contacts p {
	line-height: 18px;
}

.contacts-phone {
	color:  inherit;
}

.textus-item input 
.textus-item textarea {
	font:  inherit;
	background-color: transparent;
	border: 2px solid var(--basic-extra-grey);
}

.textus-form label {
	font-weight: 700;
}

.textus-item input:hover,
.textus-item textarea:hover {
	border: 2px solid var(--grey-hover);
}

.textus-item input:focus,
.textus-item textarea:focus,
.textus-item label:focus {
	border: 2px solid var(--basic-black);
	color: var(--basic-black);
}

.textus-item input:invalid,
.textus-item textarea:invalid {
	border: 2px solid var(--red-hover);
	color: var(--red-hover);
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 1060px;
	margin-bottom: 68px;
}

footer h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
}

 footer p {
 	line-height: 22px;
}

.footer-socials {
	list-style: none;
}

.social-button {
	color: inherit;
	background-color: var(--grey-social);
}

.social-button:hover {
	background-color: var(--red-hover);
}

.social-button:focus {
	background: var(--red-focus);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	line-height: 20px;
	color: var(--black-filter);
}

.filter-input-radio {
	color: rgba(77, 77, 77, 0.4);
}

.filter-input-radio:hover,
.filter-input-radio:focus {
	color: var(--dark-grey-hover);
}

.filter-input-checkbox {
	color: rgba(77, 77, 77, 0.4);
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
	color: var(--dark-grey-hover);
}

.price-range {
	text-transform: uppercase;
	line-height: 22px;
	color: var(--black-filter);
}

.filter-input-range {
	background-color: var(--basic-grey);
	border: none;
	border-radius: 3px;
}

.catalog-list {
	list-style: none;
	margin: 0;
  	padding: 0 10px;
  	display: grid;
  	grid-template-columns: 360px 360px;
  	column-gap: 40px;
}

.catalog-container {
	margin-bottom: 55px;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.sorting {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.sorting-list {
	list-style: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-item {
	margin-bottom: 30px;
}

.sorting-item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-item:focus,
.sorting-item:active {
	color: var(--basic-black);
}

.sorting-item-active,
.sorting-item-active:hover
.sorting-item-active:focus,
.sorting-item-active:active {
	color: var(--basic-black);
}

.catalog-item-info {
	text-align: center;
	background-color: var(--basic-grey);
}

.catalog-item-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.catalog-item-info p {
	line-height: 30px;
	color: var(--basic-dark-grey);
}

.price-button {
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
}

.catalog-nav-list {
	list-style: none;
}

.catalog-nav-item a {
	background-color: var(--basic-grey);
	text-transform: uppercase;
	text-align: center;
	color: var(--basic-black);
}

.catalog-nav-item a:hover {
	background-color: var(--grey-catalog-hover);
}

.catalog-nav-item a:focus {
	background-color: var(--grey-catalog-focus);
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-nav-item-current a,
.catalog-nav-item-current a:hover,
.catalog-nav-item-current a:focus,
.catalog-nav-item-current a:active {
	background-color: var(--basic-white);
	border: 3px solid #DBDBDB;
}